body, div {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: rgb(138, 5, 190);
  color: white;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

h1 {
  margin-right: 40% ;
}

.settings {
  border: 4px groove white;
  box-shadow: 1px 14px 93px 2px rgba(0, 0, 0, 0.41);
  background-color: rgb(138, 5, 190);
  margin-top: 10px;
  padding: 15px;
}

.color-input {
  background-color: white;
  margin: 5px;
  padding: 0;
}

form > input, label {
  margin: 5px;
  padding: 5px;
  width: 40px;
  border: 0;
  cursor: pointer;
}

#buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 10%;
  cursor: pointer;
}

.selected {
  height: 25px;
  width: 25px;
  border: 3px groove lime;
}

.pixel-board {
  margin: auto;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 1px 14px 93px 2px rgba(0, 0, 0, 0.41);
}

.pixel {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  text-align: center;
}
