body, div {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: tomato;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.settings {
  position: absolute;
  float: right;
  right: 5%;
  padding: 20px;
  background-color: yellowgreen;
  justify-content: space-around;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 10%;
}

.selected {
  height: 25px;
  width: 22px;
  border: 3px groove white;
  height: 1.6em;
}

.pixel-board {
  margin: auto;
  background: white;
  box-shadow: 1px 14px 93px 2px rgba(0, 0, 0, 0.41);
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: aliceblue;
}


.pixel {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
  text-align: center;
}


